@{
    Layout = "~/Views/Shared/layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container-lg container-fluid">
    <div class="row">
        <div class="col-lg-6 col12">
            <img style="width:100%;" src="~/images/kolye22.jpg" alt="Alternate Text" />
        </div>
        <div class="col-lg-6 col12 d-flex flex-column justify-content-center">
            <div class="col-12">
                <p style="font-size:36.5px;text-align:center" class="col-12"><b>Ürün Başlığı</b></p>
                <div style="font-size:23px;margin-bottom:30px; padding-left:32px;border:solid 1px black;margin-left:15px;border-radius:10px;color:darkorange;background-color:aliceblue" class="col-3">15.00 ₺</div>
                <p style="font-size:18px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-12 justify-content-between">
                <button style="width: 100%;border:solid 1px black; background-color: #4dc247;font-size:20px;border-radius:10px;color:white;" onclick="sayfa_ac()"><img style="width:1.9rem;float:left;" src="~/icons/whatsapp.png" alt="Alternate Text" /><p style="float:left"></p>WhatsApp 'tan satın al</button>
            </div>
        </div>
    </div>
</div>
