@model List<dükkan.Models.Kategori>
@{
    Layout = "~/Views/Shared/layout.cshtml";
    ViewBag.Title = "Home Page";
}

<table class="table">
    <thead>
        <tr style="text-align:center">
            <th scope="col">Id</th>
            <th scope="col">KategoriAd</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kategori in Model)
        {
            <tr style="text-align:center">
                <th scope="row" >@kategori.id</th>
                <td >@kategori.kategoriAdi</td>
                <td >
                    <a href="/admin/kategoriSil/@kategori.id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>


